body {
    color: #335;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 17px;
    margin: 0;
    padding: 0;
}

#container {
    width: 69%;
    padding: 1em;
    text-align: left;
    border: 1.5px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}